[submodule "packages/osmosis/osmosis"]
	path = packages/osmosis/osmosis
	url = https://github.com/osmosis-labs/osmosis
[submodule "packages/osmosis/cosmos-proto"]
	path = packages/osmosis/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/stride/stride"]
	path = packages/stride/stride
	url = https://github.com/Stride-Labs/stride
[submodule "packages/stride/cosmos-sdk"]
	path = packages/stride/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/stride/cosmos-proto"]
	path = packages/stride/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/stargaze/stargaze"]
	path = packages/stargaze/stargaze
	url = https://github.com/public-awesome/stargaze
[submodule "packages/stargaze/cosmos-sdk"]
	path = packages/stargaze/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/stargaze/cosmos-proto"]
	path = packages/stargaze/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/stargaze/tendermint"]
	path = packages/stargaze/tendermint
	url = https://github.com/tendermint/tendermint
[submodule "packages/juno/juno"]
	path = packages/juno/juno
	url = https://github.com/CosmosContracts/juno
[submodule "packages/juno/cosmos-sdk"]
	path = packages/juno/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/juno/cosmos-proto"]
	path = packages/juno/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/juno/mev-cometbft"]
	path = packages/juno/mev-cometbft
	url = https://github.com/skip-mev/mev-cometbft
[submodule "packages/osmosis/cosmos-sdk"]
	path = packages/osmosis/cosmos-sdk
	url = https://github.com/osmosis-labs/cosmos-sdk
[submodule "packages/osmosis/tendermint"]
	path = packages/osmosis/tendermint
	url = https://github.com/tendermint/tendermint
[submodule "packages/cosmoshub/gaia"]
	path = packages/cosmoshub/gaia
	url = https://github.com/cosmos/gaia
[submodule "packages/cosmoshub/cosmos-sdk"]
	path = packages/cosmoshub/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/cosmoshub/cosmos-proto"]
	path = packages/cosmoshub/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/cosmoshub/cometbft"]
	path = packages/cosmoshub/cometbft
	url = https://github.com/cometbft/cometbft
[submodule "packages/agoric/agoric-sdk"]
	path = packages/agoric/agoric-sdk
	url = https://github.com/Agoric/agoric-sdk
[submodule "packages/agoric/cosmos-sdk"]
	path = packages/agoric/cosmos-sdk
	url = https://github.com/agoric-labs/cosmos-sdk
[submodule "packages/agoric/tendermint"]
	path = packages/agoric/tendermint
	url = https://github.com/agoric-labs/tendermint
[submodule "packages/akash/node"]
	path = packages/akash/node
	url = https://github.com/akash-network/node
[submodule "packages/akash/cosmos-sdk"]
	path = packages/akash/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/akash/tendermint"]
	path = packages/akash/tendermint
	url = https://github.com/akash-network/tendermint
[submodule "packages/axelar/axelar-core"]
	path = packages/axelar/axelar-core
	url = https://github.com/axelarnetwork/axelar-core
[submodule "packages/axelar/cosmos-sdk"]
	path = packages/axelar/cosmos-sdk
	url = https://github.com/axelarnetwork/cosmos-sdk
[submodule "packages/cryptoorg/chain-main"]
	path = packages/cryptoorg/chain-main
	url = https://github.com/crypto-org-chain/chain-main
[submodule "packages/cryptoorg/cosmos-sdk"]
	path = packages/cryptoorg/cosmos-sdk
	url = https://github.com/crypto-org-chain/cosmos-sdk
[submodule "packages/cryptoorg/cosmos-proto"]
	path = packages/cryptoorg/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/cryptoorg/ibc-go"]
	path = packages/cryptoorg/ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "packages/emoney/em-ledger"]
	path = packages/emoney/em-ledger
	url = https://github.com/e-money/em-ledger
[submodule "packages/emoney/cosmos-sdk"]
	path = packages/emoney/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/evmos/evmos"]
	path = packages/evmos/evmos
	url = https://github.com/evmos/evmos
[submodule "packages/evmos/cosmos-sdk"]
	path = packages/evmos/cosmos-sdk
	url = https://github.com/evmos/cosmos-sdk
[submodule "packages/evmos/cosmos-proto"]
	path = packages/evmos/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/gitopia/gitopia-go"]
	path = packages/gitopia/gitopia-go
	url = https://github.com/gitopia/gitopia-go
[submodule "packages/gitopia/cosmos-sdk"]
	path = packages/gitopia/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/gitopia/cosmos-proto"]
	path = packages/gitopia/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/gravitybridge/Gravity-Bridge"]
	path = packages/gravitybridge/Gravity-Bridge
	url = https://github.com/Gravity-Bridge/Gravity-Bridge
[submodule "packages/gravitybridge/cosmos-sdk"]
	path = packages/gravitybridge/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/gravitybridge/cometbft"]
	path = packages/gravitybridge/cometbft
	url = https://github.com/cometbft/cometbft
[submodule "packages/injective/sdk-go"]
	path = packages/injective/sdk-go
	url = https://github.com/InjectiveLabs/sdk-go
[submodule "packages/injective/cosmos-sdk"]
	path = packages/injective/cosmos-sdk
	url = https://github.com/InjectiveLabs/cosmos-sdk
[submodule "packages/injective/cosmos-proto"]
	path = packages/injective/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/injective/wasmd"]
	path = packages/injective/wasmd
	url = https://github.com/InjectiveLabs/wasmd
[submodule "packages/irisnet/irishub"]
	path = packages/irisnet/irishub
	url = https://github.com/irisnet/irishub
[submodule "packages/irisnet/cosmos-sdk"]
	path = packages/irisnet/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/irisnet/cometbft"]
	path = packages/irisnet/cometbft
	url = https://github.com/cometbft/cometbft
[submodule "packages/kava/kava"]
	path = packages/kava/kava
	url = https://github.com/kava-Labs/kava
[submodule "packages/kava/kava-cosmos-sdk-dev"]
	path = packages/kava/kava-cosmos-sdk-dev
	url = https://github.com/devmosis-workspace/kava-cosmos-sdk-dev
[submodule "packages/kava/cosmos-proto"]
	path = packages/kava/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/kyve/chain"]
	path = packages/kyve/chain
	url = https://github.com/KYVENetwork/chain
[submodule "packages/kyve/cosmos-sdk"]
	path = packages/kyve/cosmos-sdk
	url = https://github.com/KYVENetwork/cosmos-sdk
[submodule "packages/kyve/cosmos-proto"]
	path = packages/kyve/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/likecoin/likecoin-chain"]
	path = packages/likecoin/likecoin-chain
	url = https://github.com/likecoin/likecoin-chain
[submodule "packages/likecoin/cosmos-sdk"]
	path = packages/likecoin/cosmos-sdk
	url = https://github.com/likecoin/cosmos-sdk
[submodule "packages/mars/hub"]
	path = packages/mars/hub
	url = https://github.com/mars-protocol/hub
[submodule "packages/mars/cosmos-sdk"]
	path = packages/mars/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/mars/cosmos-proto"]
	path = packages/mars/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/neutron/neutron"]
	path = packages/neutron/neutron
	url = https://github.com/neutron-org/neutron
[submodule "packages/neutron/cosmos-sdk"]
	path = packages/neutron/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/neutron/cosmos-proto"]
	path = packages/neutron/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/neutron/ibc-go"]
	path = packages/neutron/ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "packages/neutron/mev-cometbft"]
	path = packages/neutron/mev-cometbft
	url = https://github.com/skip-mev/mev-cometbft
