[submodule "packages/osmosis/osmosis"]
	path = packages/osmosis/osmosis
	url = https://github.com/osmosis-labs/osmosis
[submodule "packages/osmosis/cosmos-proto"]
	path = packages/osmosis/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/stride/stride"]
	path = packages/stride/stride
	url = https://github.com/Stride-Labs/stride
[submodule "packages/stride/cosmos-sdk"]
	path = packages/stride/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/stride/cosmos-proto"]
	path = packages/stride/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/stargaze/stargaze"]
	path = packages/stargaze/stargaze
	url = https://github.com/public-awesome/stargaze
[submodule "packages/stargaze/cosmos-sdk"]
	path = packages/stargaze/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/stargaze/cosmos-proto"]
	path = packages/stargaze/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/stargaze/tendermint"]
	path = packages/stargaze/tendermint
	url = https://github.com/tendermint/tendermint
[submodule "packages/juno/juno"]
	path = packages/juno/juno
	url = https://github.com/CosmosContracts/juno
[submodule "packages/juno/cosmos-sdk"]
	path = packages/juno/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/juno/cosmos-proto"]
	path = packages/juno/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/juno/mev-cometbft"]
	path = packages/juno/mev-cometbft
	url = https://github.com/skip-mev/mev-cometbft
[submodule "packages/osmosis/cosmos-sdk"]
	path = packages/osmosis/cosmos-sdk
	url = https://github.com/osmosis-labs/cosmos-sdk
[submodule "packages/osmosis/tendermint"]
	path = packages/osmosis/tendermint
	url = https://github.com/tendermint/tendermint
[submodule "packages/cosmoshub/gaia"]
	path = packages/cosmoshub/gaia
	url = https://github.com/cosmos/gaia
[submodule "packages/cosmoshub/cosmos-sdk"]
	path = packages/cosmoshub/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/cosmoshub/cosmos-proto"]
	path = packages/cosmoshub/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "packages/cosmoshub/cometbft"]
	path = packages/cosmoshub/cometbft
	url = https://github.com/cometbft/cometbft
[submodule "packages/agoric/agoric-sdk"]
	path = packages/agoric/agoric-sdk
	url = https://github.com/Agoric/agoric-sdk
[submodule "packages/agoric/cosmos-sdk"]
	path = packages/agoric/cosmos-sdk
	url = https://github.com/agoric-labs/cosmos-sdk
[submodule "packages/agoric/tendermint"]
	path = packages/agoric/tendermint
	url = https://github.com/agoric-labs/tendermint
[submodule "packages/akash/node"]
	path = packages/akash/node
	url = https://github.com/akash-network/node
[submodule "packages/akash/cosmos-sdk"]
	path = packages/akash/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "packages/akash/tendermint"]
	path = packages/akash/tendermint
	url = https://github.com/akash-network/tendermint
